<div *ngIf="blogPost">
    <div class=row>
        <div class="col-md-12">
            <h3 [ngClass]="{'placeholder-oneline': !blogPost}">
                <a class="noLink" [routerLink]="['b', blogPost.Id, blogPost.url]">{{blogPost.title}}</a>
            </h3> 
        </div>
    </div>

    <div class=row>
        <div class="col-md-12 text-muted">
            {{blogPost.subTitle}} <br />
        </div>
    </div>

    <div class=row>
        <div class="col-md-12 mt-3 text-justify">
            {{blogPost.content}}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="tag" *ngFor="let tag of blogPost.tags">
                <a href="/tag/{{tag}}">{{tag}}</a>
            </div>
            <div class="float-md-right float-right text-muted">
                {{blogPost.publishDate}}
            </div>
        </div>
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <img class="authorBubble" src="/assets/authors/jb.png">
            <a class="commentBubble" [routerLink]="['b', blogPost.Id, blogPost.url]">0</a>
            <div class="arrow"></div>
            <div class="float-right">
                <div class="box Count" href="#">
                    12312
                </div>
                <a class="box Down" href="#">
                    <i class="fas fa-caret-down fa-3x"></i>
                </a>
                <a class="box Up" href="#">
                    <i class="fas fa-caret-up fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</div>