.authorBubble {
    width:40px;
    height:40px;
    float:left;
  }
  
.commentBubble {
    border-radius: 5px;
    background: #333;
    padding: 4px;
    padding-left:8px;
    padding-right:9px;
    margin-left:5px;
    color:white;
    min-width: 40px;
    height:40px;
    float:left;
    font-size: 20px;
    text-align: center;
  }

a.commentBubble:link, a.commentBubble:visited {
    color:#fff;
    text-decoration: none;
}

a.commentBubble:hover {
    color:#666;
    text-decoration: none;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 7px solid transparent; 
    border-bottom: 7px solid transparent; 
    border-left: 10px solid #333; 
    margin-top: 13px; float: left;
}

.tag {
    float:left;
    color:#717171;
    background-color:#dedede; 
    margin-right:3px;
    padding: 0px 6px 0px 6px;
}

a.tag:link, a.tag:visited {
    color:#717171;
}

a.tag:focus, a.tag:hover  {
    color: #000;
    text-decoration: underline;
}

.box {
    color: #fff;
    background-color: #333;
    float:right;
    width:40px;
    height:40px;
    font-size: 13px;
    padding-left:8px;
    margin-left:4px;
}

.box.Up {
    background-color: #28a745;
}
.box.Down {
    background-color: #007bff;
}
.box.Count {
    background-color: #333;
    font-size:20px;
    min-width:40px !important;
    width:auto !important;
    padding-top:4px;
    padding-right:10px;
    padding-left:10px;
    text-align: center;
}

a.box:link, a.box:visited {
    color:#fff;
    text-decoration: none;
}

a.box:hover{
    color:lightgray;
}

.postTitle a:link, a:visited {
    color:#000;
    text-decoration: none;
}

.postTitle a:hover {
    color: #000;
    text-decoration: none;
}

.postTitle a:focus, .postTitle a:hover  {
    color: #000;
    text-decoration: underline;
}
