.noLink a:link, a:visited {
    color:#000;
    text-decoration: none;
}

.noLink a:hover {
    color: #000;
    text-decoration: none;
}

.noLink a:focus, .noLink a:hover  {
    color: #000;
    text-decoration: none;
}